@model Services.Models.WorkModels.BusinessActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Branch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
